<% include partials/header %>
<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
<% include partials/body %>
<% include partials/navbar %>

<div class="container">
   <div class="jumbotron">
      <div>
         <img src="https://i.gifer.com/G2cb.gif">
         <p id="article"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis commodo ut neque nec fringilla. Vestibulum sem turpis, bibendum bibendum faucibus in, sagittis quis ipsum.</p> <p>Sed bibendum tortor quis neque blandit, ut pretium dui tristique. In tristique justo quis eros iaculis convallis sed eu felis. Cras scelerisque leo a felis finibus, vel interdum libero volutpat. Aliquam vitae tortor quis metus faucibus tincidunt in in quam.</p> <p>Etiam sodales arcu est. Integer nec eros lobortis, convallis purus ut, egestas magna.
            Phasellus fermentum, nisi ut dictum hendrerit, ante magna condimentum sem, ut luctus est augue quis justo. Curabitur condimentum elit commodo finibus fermentum. Proin semper, eros non vehicula accumsan, nibh ex egestas justo, a sodales mi eros id tortor. </p> <p> Nam nec pellentesque dolor, eu interdum ligula. Quisque iaculis et erat eu congue. Aenean porttitor rutrum tortor in interdum. </p> <p> Ed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </p>
         </p>
      </div>
   </div>
</div>
</div>
<script
   src="https://code.jquery.com/jquery-3.2.1.js"
   integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
   crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<% include partials/footer %>