<% include partials/header %>
<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
<% include partials/body %>
<% include partials/navbar %>

<div class="container">
   <div class="row">
      <div id="admin_form">
         <form action="/admin" method="POST">
            <div class="form-group">
               <label id="username">Username</label>
               <input  type="text" class="form-control" name="username" placeholder="Username">
            </div>
            <div class="form-group">
               <label id="password">Password</label>
               <input  type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <div class="form-group">
               <button class="btn btn-lg btn-primary btn-block">Login</button>
            </div>
         </form>
      </div>
   </div>
</div>

<% include partials/footer %>