/*--NAVBAR--*/

#roxana_photography_brand {
     color: #777;
}


/*--HOME PAGE--*/

html,
body {
     background: url(https://i.imgur.com/DtBze4X.jpg) no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     font-family: 'Roboto Condensed', sans-serif;
     height:100%;
     width:100%;
}

#admin_container {
     width: 30%;
     margin: 4em auto;
}

.admin_welcome {
     text-align: center;
     color: #FFFFFF;
}

h1 {
     margin: 0 0 35px 0;
     font-family: 'Patua One', cursive;
     text-transform: uppercase;
     letter-spacing: 1px;
}

.footer ul {
     position: fixed;
     top: 87%;
     left: 45%;
     font-size: 13px;
     list-style-type: none;
     margin-left: 0;
     padding-left: 0;
     margin-top: 15px;
     color: #7F8C8D;
}

.footer ul li a {
     padding: 0 0 5px 0;
     display: block;
}

.footer a {
     color: #78828D
}

.social li {
     background: none repeat scroll 0 0 #B5B5B5;
     border: 2px solid #B5B5B5;
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     -o-border-radius: 50%;
     -ms-border-radius: 50%;
     border-radius: 50%;
     float: left;
     height: 36px;
     line-height: 36px;
     margin: 0 15px 0 0;
     padding: 0;
     text-align: center;
     width: 36px;
     transition: all 0.5s ease 0s;
     -moz-transition: all 0.5s ease 0s;
     -webkit-transition: all 0.5s ease 0s;
     -ms-transition: all 0.5s ease 0s;
     -o-transition: all 0.5s ease 0s;
}

.social li:hover {
     transform: scale(1.15) rotate(360deg);
     -webkit-transform: scale(1.1) rotate(360deg);
     -moz-transform: scale(1.1) rotate(360deg);
     -ms-transform: scale(1.1) rotate(360deg);
     -o-transform: scale(1.1) rotate(360deg);
}

.social li a {
     color: #EDEFF1;
}

.social li:hover {
     border: 2px solid #2c3e50;
     background: #2c3e50;
}

.social li a i {
     font-size: 16px;
     margin: 0 0 0 5px;
     color: #EDEFF1 !important;
}

a:hover,
a:focus {
     text-decoration: none;
     color: #26a5d3;
}

/*--INDEX PAGE--*/
.img-thumbnail{
     height:252px;
}


/*--NEW PHOTO PAGE--*/

#choose_photo,
#password,
#username,
#firstName,
#lastName {
     color: #FFFFFF;
}

#form_container {
     margin-top: 5em;
}

.ui.fluid.selection.dropdown {
     padding-bottom: 7px;
}

#newPhoto,
#category {
     color: #FFFFFF;
     text-align: left;
}


/*--ABOUT PAGE--*/

.jumbotron {
     background-color: #FFF;
}

.navvv {
     font-family: 'Syncopate', sans-serif;
}

#hamb {
     margin-top: 20px;
}

img {
     float: left;
     margin: 0 20px 20px 0;
}

#article {
     margin: 0 0 25px;
     font-size: 18px;
     line-height: 1.6em;
     text-align: justify;
     text-indent: 2em;
}


/*--REGISTER,ADMIN PAGE--*/

#register_form,
#admin_form {
     width: 30%;
     margin: 5em auto;
}